<ol class="breadcrumb">
         <li> <%= link_to "Accueil", root_path %> </li>
         <li class="active"><%= link_to "Toutes les agences", agencies_path  %> </li>
</ol>

<div class="agency-list">
  <div class="padded">
  <div class="container">
    <div class="row">
    <h1 class="text-center">Les agences suscesptibles de vous intéresser:</h1>
    <div class="separator">
    <div class="separator-line">
    </div>
    </div>
      <% @agencies.each do |agency| %>
        <div class="col-xs-12 col-md-4">
        <%= link_to agency_path(agency), class: 'link-agency-card' do %>

          <%= render "agencies/agency", :agency => agency %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  </div>

  <br>

  <%= link_to 'New Agency', new_agency_path %>

</div>
