<p id="notice"><%= notice %></p>





<div class="padded">
<h1 class="text-center">Vos agences :</h1>
<div class="agency-card">
  <% @agencies.each do |agency| %>
  <%= cl_image_tag agency.photo, width: 300, height:  100, crop: :pad %>
  <h2><%= agency.name %></h2>
  <p> <%= agency.short_description %></p>
  <div class="stars">
    <% agency.review_mean.to_i.times do %>
      <i class="fa fa-star"></i>
    <% end %>
    <% end %>
  </div>
</div>

</div>






<br>
      <%= link_to 'Compare', compare_agencies_path, class: "btn btn-danger" %>


<%= link_to 'New Agency', new_agency_path %>
