<ol class="breadcrumb">
         <li> <%= link_to "Accueil", root_path %> </li>
         <li class=""><%= link_to "Toutes les agences", agencies_path  %> </li>
         <li class="active"><%= @agency.name%></li>
</ol>


<h1 class="text-center justify"></h1>

<div background-color:"#E8E8E8">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-8" id="description">
        <%= cl_image_tag @agency.photo, crop: "pad", class: "logo-md pull-right" %>
        <p id="name-agency">
          <%= @agency.name %>
        </p>
        <p>
          <%= @agency.description %>
        </p>

        <% unless @linkedin_report.nil? %>
          <% @linkedin_report.specialities_array.each do |speciality|%>
          <div class="tag"> <%= speciality %> </div>
        <% end %>
        <% end %>
        <p>
          <% @agency.review_mean.to_i.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </p>
      </div>
      <div class="padded-agency">
      </div>
      <div class="col-xs-12 col-md-4" id="description2">

        <div class="col-xs-12 col-md-12" id="description3">
          <%= cl_image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@agency.address}&size=600x300&maptype=roadmap", class: "full" %>
          <br>
          <br>
          <center>
          <%= link_to 'Demander un devis', new_agency_quote_path(@agency), :class => "btn btn-danger " %>
           <li>
            <%= link_to new_agency_wishlist_path(@agency), :class => "btn btn-danger" do %>

            <i class="fa fa-heart"></i>
          <% end %>
          </li>
          </center>
        </div>
      </div>
    </div>
    <div class="text-center" id="bottom-link">
      <% if current_user %>
        <%= link_to 'Ajouter un avis', new_agency_review_path(@agency) %> ou
        <%= link_to 'ajouter une référence', new_agency_reference_path(@agency) %>
        <% end %>
    </div>


    <% if @agency.references.any? %>
      <div class="padded">
        <h3 class="text-center uppercase with-margin"> References</h3>
        <div class="row">
         <% @agency.references.each do |r| %>
           <div class="col-xs-12 col-md-4">
            <%= render 'agencies/references', :references => r %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @agency.reviews.any?  %>
      <div class="padded">
        <h3 class="text-center uppercase with-margin"> Avis </h3>
        <div class="row">
          <% @agency.reviews.each do |review| %>
            <div class="col-xs-4">
              <%= render 'reviews/review_card', review: review %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>



  </div>
  </div>


