    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.4) 100%), url('<%= image_path "fondbanner3.png" %>')">
      <div class="banner-content">
          <h1>Trouvez les meilleures agences webs</h1>

<!-- Formulaire à refactoriser avec un form_tag -->
        <%= form_tag search_agencies_path, method: :get, class: 'form-inline'  do %>
        <%= select_tag "where", options_for_select([ "France", "Ile de France" ], "France"),  class: "form-control dropdown-toggle" %>
        <%= select_tag "what", options_for_select([ "Developpement web", "Developpement mobile" ], "Developpement web"), class: "form-control dropdown-toggle" %>
        <%= button_tag "Trouver", class: "btn btn-primary" %>
        <% end %>
<!-- end -->

      </div>
    </div>


<!-- A propos/services -->

<div class="padded">
  <div class="container">
    <h3 class="text-center">Nos services</h3>
    <div class="separator">
      <div class="separator-line">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
      <div class="feature">
        <%= image_tag "bookmark.png"%>
        <h3>Catalogue</h3>
        <p>Accédez à un catalogue complet de toutes les agences de developpement web et mobile partout en France.</p>
      </div>
      </div>

      <div class="col-xs-12 col-sm-4">
      <div class="feature">

        <%= image_tag "diploma.png"%>
        <h3>Classement</h3>
        <p>Pour faire le bon choix visualisez les notes des agences sur 3 critères : compétences, influence, et avis clients. </p>
      </div>
      </div>


        <div class="col-xs-12 col-sm-4">
          <div class="feature">

          <%= image_tag "1456955809_clock.png"%>
          <h3>Devis et confidentialité</h3>
          <p>Obtenez en 48h un devis gratuit et un contrat de confidentialité pour des échanges en toute sécurité.</p>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Top des agences -->

<div class="padded-agency">
  <div class="container">
    <h2 class="text-center uppercase">Nos agences</h2>
    <div class="row">
      <% @agencies.each do |agency|%>
        <div class="col-xs-12 col-md-4">
          <%= link_to agency_path(agency) do %>
            <%= render "agencies/agency", :agency => agency %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="padded">
<div class="container">
  <h2 class="text-center uppercase">Nos derniers avis </h2>
  <div class="row">
    <% @reviews.each do |review|%>
    <div class="col-xs-12 col-md-4">
      <div class="card-review">
        <%= image_tag review.user.photo, class:"avatar card-avatar"  %>
        <div class="card-star stars">
          <% review.star.to_i.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </div>
        <div class="card-title">
          <h4><%= review.user.full_name %></h4>
        </div>
        <div class="card-quote">
        <div class="quote-wrapper">
          <p class="quote-start quote-tick">"</p>
          <p class="quote-content"> <%= review.description %></p>
          <p class="quote-end quote-tick">"</p>
        </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
