<h1>New Wishlist</h1>


<p id="notice"><%= notice %></p>

<h1>Wishlists !!!</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <%= @wishlist.agency.photo %>
    <%= @wishlist.agency.name %>
    <%= @wishlist.agency.description %>



  </tbody>
   <tr>
      </tr>
</table>

<br>




<%= link_to 'Back', wishlists_path %>
