<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.user.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
